<app-page-breadcrumb pageTitle="Alertas" />
<div class="space-y-5 sm:space-y-6">
  <div>
    <app-component-card title="Alerta de Éxito">
      <div>
        <app-alert
          variant="success"
          title="Mensaje de Éxito"
          message="Ten cuidado al realizar esta acción."
          [showLink]="true"
          linkHref="/"
          linkText="Saber más"
        />
      </div>
      <div>
        <app-alert
          variant="success"
          title="Mensaje de Éxito"
          message="Ten cuidado al realizar esta acción."
          [showLink]="false"
        />
      </div>
    </app-component-card>
  </div>

  <div>
    <app-component-card title="Alerta de Advertencia">
      <div>
        <app-alert
          variant="warning"
          title="Mensaje de Advertencia"
          message="Ten cuidado al realizar esta acción."
          [showLink]="true"
          linkHref="/"
          linkText="Saber más"
        />
      </div>
      <div>
        <app-alert
          variant="warning"
          title="Mensaje de Advertencia"
          message="Ten cuidado al realizar esta acción."
          [showLink]="false"
        />
      </div>
    </app-component-card>
  </div>

  <div>
    <app-component-card title="Alerta de Error">
      <div>
        <app-alert
          variant="error"
          title="Mensaje de Error"
          message="Ten cuidado al realizar esta acción."
          [showLink]="true"
          linkHref="/"
          linkText="Saber más"
        />
      </div>
      <div>
        <app-alert
          variant="error"
          title="Mensaje de Error"
          message="Ten cuidado al realizar esta acción."
          [showLink]="false"
        />
      </div>
    </app-component-card>
  </div>

  <div>
    <app-component-card title="Alerta de Información">
      <div>
        <app-alert
          variant="info"
          title="Mensaje de Información"
          message="Ten cuidado al realizar esta acción."
          [showLink]="true"
          linkHref="/"
          linkText="Saber más"
        />
      </div>
      <div>
        <app-alert
          variant="info"
          title="Mensaje de Información"
          message="Ten cuidado al realizar esta acción."
          [showLink]="false"
        />
      </div>
    </app-component-card>
  </div>
</div>
