:host {
  display: block;
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(249, 250, 251), rgb(255, 255, 255));
  transition: background 0.3s ease-in-out;
}

:host.dark {
  background: linear-gradient(to bottom right, rgb(17, 24, 39), rgb(31, 41, 55), rgb(17, 24, 39));
}
